doc/report.aux
doc/report.bbl
doc/report.blg
doc/report.log
doc/report.pdf
results.csv
.~lock.results2-4.csv#
docs/report.aux
docs/report.bbl
docs/report.blg
docs/report.log
docs/report.pdf
results2-4.csv
